[coverage:run]
relative_files = True
omit = 
    backend/user_data/**
    backend/db.sqlite3
    backend/*/constants/** 
    backend/tests/** 
    backend/main/asgi.py
    backend/main/settings.py
    backend/main/wsgi.py 
    backend/manage.py 